.git
.github
.next
node_modules
data/*
!data/.gitkeep
.env
.env.*
!.env.example
docker
Dockerfile
docker-compose.yml
README.md
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
LICENSE
todo_before_publication.md
tsconfig.tsbuildinfo
**/__pycache__
**/*.pyc
**/*.pyo
